[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
e1839a8 = {editable = true,path = "."}
main-page = {editable = true,path = "."}

[requires]
python_version = "3.8"
